

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
    />
    <title>{% block title %}Maine Coons{% endblock %}</title>
    <link rel='stylesheet' href=
    'main.css'>
</head>
<title>Cats</title>
<h1 id="Top">All about cats</h1>
    <ul>
<li><a href="#DiversityofCats">Cat Diversity</a><br></li>
        <div id="#DiversityofCats">
        <h2>Cat Diversity</h2>   
        <p>Cats are very diverse</p>
        </div>
<li><a href="#Food" target="_blank">Food</a><br></li>
<li><a href="#Care" target="_blank">Care</a><br></li>
    </ul>
<p><img src="images/maincoon" width="100" height="100" align="bootom"/><br>This is a Main Coon. Originally created from witchcraft.</p>
<div>
<button class="btn">click here for info</button>
</div>
</body>
</html>

